[production]
>0.3% 
not IE > 0 
not op_mini all 
not dead 
last 2 Edge major versions 
last 1 Chrome version 
last 2 iOS major versions 
last 1 Firefox version 
not iOS 12.5
Chrome 99

[development]
last 1 chrome version
last 1 firefox version

[ssr]
node 14
